<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Labella.js</title>

  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body ng-app="app">
  <a href="https://github.com/twitter/labella.js"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
  <div ng-controller="demoCtrl">
    <header>
      <h1><b>Labella</b>.js</h1>
      <h2>Labels should be beautiful.</h2>
    </header>

    <div class="block">
      <p>
        Long long ago, in a computer far far away,
        there was a timeline, with many points on it.
        <br>
        A young researcher tried to annonate all those points and struggled to place labels without overlaps.
        <br>
        He spent a lot of time trying different methods without success, until he tried <i>the force</i>.
        <br>
        Since then, whenever someone asks him how to label points on 1D space, he simply replies, "May the force label you."
      </p>
      <p>
        For simpler example, click <a href="easy.html">here</a>.
      </p>
    </div>

    <div class="content-block">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="form-inline">
              <label for="">No. of labels&nbsp;</label>
              <input type="text" class="form-control short-input" ng-model="options.amount">
              <label for="">Min. width&nbsp;</label>
              <input type="text" class="form-control short-input" ng-model="options.minWidth">
              <label for="">Max. width&nbsp;</label>
              <input type="text" class="form-control short-input" ng-model="options.maxWidth">
              <button class="btn btn-default" ng-click="regenerate()">Generate labels</button>
              <label for="">
                &nbsp;
                <input type="checkbox" ng-model="autoLayout">
                Update layout immediately
              </label>
            </div>

            <div class="form-inline">
              <label for="">Gap between labels&nbsp;</label>
              <input type="text" class="form-control short-input" ng-model="options.nodeSpacing">
              <label for="">Min. position&nbsp;</label>
              <input type="text" class="form-control short-input" ng-model="options.minPos">
              <label for="">Max. position&nbsp;</label>
              <input type="text" class="form-control short-input" ng-model="options.maxPos">
              <label for="">Rounds/tick&nbsp;</label>
              <input type="text" class="form-control short-input" ng-model="options.roundsPerTick">
              <label for="">Max. round&nbsp;</label>
              <input type="text" class="form-control short-input" ng-model="options.maxRound">
              <label for="">Algorithm&nbsp;</label>
              <select name="" id="" class="form-control" ng-options="algo for algo in distributorAlgorithms track by algo" ng-model="options.algorithm"></select>
              <button class="btn btn-default" ng-click="updateLayout()">Update layout</button>
            </div>
          </div>
        </div>
      </div>
    </div><div class="chart-container">
      <div id="timeline"></div>
    </div>

<!--     <div class="block" style="margin-top:20px">
      <table class="metrics-table">
        <tr>
          <th>
            Metric
          </th>
          <th style="text-align:right">
            Score
          </th>
        </tr>
        <tr ng-repeat="metric in metrics track by metric.name">
          <td style="text-align:left">
            {{metric.name}}
          </td>
          <td style="text-align:right">
            {{metric.value | number:2}}
          </td>
        </tr>
      </table>
    </div> -->

    <footer>
      Created by Krist Wongsuphasawat / <a href="https://twitter.com/kristw">@kristw</a>
    </footer>
  </div>

  <script type="text/javascript" src="dist/labella.js"></script>
  <script type="text/javascript" src="bower_components/d3/d3.min.js"></script>
  <script type="text/javascript" src="bower_components/d3kit/dist/d3kit.min.js"></script>
  <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="horizontalTimeline.js"></script>
  <script type="text/javascript" src="demo.js"></script>
</body>

</html>